# {{ ansible_managed }}
PasswordAuthentication {{ prereq_security_ssh_password_authentication }}
#PermitRootLogin {{ prereq_security_ssh_permit_root_login }}
Port {{ prereq_security_ssh_port }}
UseDNS {{ prereq_security_ssh_usedns }}
PermitEmptyPasswords {{ prereq_security_ssh_permit_empty_password }}
#ChallengeResponseAuthentication {{ prereq_security_ssh_challenge_response_auth }}
GSSAPIAuthentication {{ prereq_security_ssh_gss_api_authentication }}
X11Forwarding {{ prereq_security_ssh_x11_forwarding }}